/*
**** BREAKPOINT: DESKTOP DEVICES - ASCENDING
*/
@media (min-width: 1200px) {

}

/*
**** BREAKPOINT: LARGE DEVICES - ASCENDING
*/
@media (min-width: 1025px) {

}

/*
**** BREAKPOINT: MEDIUM DEVICES - ASCENDING
*/
@media (min-width: 768px) {

	.open-desktop.site-header {
		pointer-events:all;
		position:absolute;
		bottom:45px !important;
		left:45px !important;
		right:45px !important;
		top:45px !important;
		background-color:rgba(40,40,40,0.9);
		max-height:unset;
		opacity:1;
		visibility:visible;
		overflow:hidden;
		height:auto;
		transition:left 0.2s ease 0s;
		transition:top 0.2s ease 0s;
		transition:height 0.2s ease 0s;
		transition:background-color 0.6s ease 0.3s;
	}

	.open-desktop .header-nav {
		padding:30px;
		transition:all 0s ease 0s;
	}

	.open-desktop .topmenu-link,
	.open-desktop .header-brand {
		opacity:0.2;
	}

	.open-desktop li.activate .topmenu-link {
		opacity:1 !important;
		transition:all 0.4s ease 0s;
	}


	.open-desktop .topmenu-link:hover {
		background-color:rgb(0,0,0) !important;
		opacity:1;
	}

	.open-desktop li.activate .dropdown-drawer {
		height:auto;
		transition:all 0.4s ease 0.6s;
	}

	.open-desktop li.activate .dropdown-drawer .submenu {
		opacity:1;
		height:auto;
		visibility: visible;
		transition:all 0.4s ease 0.6s;
	}

	.open-desktop .desktop-nav {
		top:15px;
		right:15px;
		position:absolute;
		opacity:1;
		visibility:visible;
		height:auto;
		font-size:25px;
		background-color:#282828;
		color:#fff;
		padding:5px 10px;
		z-index:1000;
		cursor:pointer;
		transition:all 0.3s ease 0;
		display:block;
	}

	.desktop-nav:hover,.desktop-nav:focus {
		background-color:#fff;
		color:#282828;
		transition:all 0.3s ease 0;
	}

	.blank-modal .modal-body {
		width:560px;
		height:320px;;
	}
}

/*
**** BREAKPOINT: SMALL DEVICES - ASCENDING
*/
@media (min-width: 400px) {

}

/*
**** BREAKPOINT: DESKTOP DEVICES - DESCENDING
*/
@media (max-width: 1200px) {



}

/*
**** BREAKPOINT: LARGE DEVICES - DESCENDING
*/
@media (max-width: 1025px) {

	.watermark {
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:376px;
		height:25px;
		margin-top:-13px;
		margin-left:-185px;
		z-index:1;
	}
}

/*
**** BREAKPOINT: MEDIUM DEVICES - DESCENDING
*/
@media (max-width: 768px) {

	.site-band {
		top:20px;
		left:20px;
		bottom:20px;
		right:20px;
	}

	.site-content-contain {
		top:20px;
		left:20px;
		bottom:20px;
		right:20px;
	}
	.directors {
		poiner-events
	}
	.site-content,
	.site-main {
		pointer-events: none;
	}

	.mobile-brand {
		display:block;
	}

	.subscribe-modal .modal-dialog,
	.blank-modal .modal-dialog {
		transform:none !important;
		top:30%;
		width:280px;
		margin:0px auto;
	}
	.blank-modal .modal-body {
		width:280px;
		height:160px;
		margin:0px auto;
	}

	.blank-modal .modal-content {
/* 		width:95%; */
		margin:0px auto;
	}

	.blank-modal .modal-footer {
		max-width:280px;
		background-color:#000;
		color:#fff;
		text-transform: uppercase;
		font-size:11px;
		font-weight:normal;
		font-style:italic;
		text-align:center;
		margin:5px auto 0px;
		border:none;
		padding:10px 8px;
		letter-spacing:1.1px;
		line-height:13px;
		font-family: 'DINProLight', Arial, sans-serif;
	}

	.subscribe-modal .modal-body {
	    background-color:#000;
		color:#999;
		font-size:12px;

		font-style:italic;
		text-align:left;
	    letter-spacing:1.2px;
		font-family: 'DINProRegular', Arial, sans-serif;
		padding:20px 20px;
	}

	/*.blank-modal .modal-footer {
		max-width:320px;
		font-size:16px;
		line-height:20px;
		font-weight:400;
		margin:5px auto 0px;
		border:none;
		padding:10px 15px;
	}*/
	.subscribe-modal .modal-dialog .fa,
	.blank-modal .modal-dialog .fa {
		position:absolute;
		top:-30px;
		right:50%;
		margin-right:-25px;
	}

	.site-header {
		height:auto;
		position:absolute;
		bottom:0;
		left:0;
		right:unset;
		top:unset;
	}

	.page-template-directors .site-content-contain,
	.page-template-digital .site-content-contain {
		pointer-events: auto !important;
		overflow:scroll;
		-webkit-overflow-scrolling: touch;
		padding:5px;
	}

	.page-template-directors .site-content,
	.page-template-digital .site-content {
		padding-top:0px;
		pointer-events: auto !important;
/* 		height:auto; */
/* 		min-height:70%; */
	}

	.page-template-directors .site-main,
	.page-template-digital .site-main {
		pointer-events: auto !important;

	}

	.page-template-directors .site-content .director-wrap,
	.page-template-digital .site-content .director-wrap {
		border-top:none;
		padding:0px;
		display:block;
	}

	.page-template-directors .director-video-wrap,
	.page-template-digital .digital-right {
		height:50%;
		min-height:250px;
	}

	.page-template-directors .director-bio,
	.page-template-digital .digital-left
	 {
		height:50%;
		min-height:250px;
	}

	.page-template-directors .site-footer,
	.page-template-digital .site-footer {
		height:auto;
		min-height:30%;
	}

	.page-template-directors .director-video-thumbs-wrap,
	.page-template-digital .director-video-thumbs-wrap {
		height:100%;
		overflow:unset;
		display:block;

	}

	.page-template-directors .director-video-thumbs,
	.page-template-digital .director-video-thumbs {
		height:auto;
	}

	.page-template-directors .director-video-thumbs li,
	.page-template-digital .director-video-thumbs li {

		height:125px;
		width:50%;
		padding:0px;
	}

	.mobile-nav {
		display:block;
		position:absolute;
		bottom:45px;
		left:45px;
		opacity:1;
		visibility:visible;
		height:auto;
		font-size:25px;
		background-color:#282828;
		color:#fff;
		padding:5px 10px;
		z-index:1000;
		cursor:pointer;
		transition:all .3s ease 0;
	}

	.mobile-nav:hover,.mobile-nav:focus {
		background-color:#fff;
		color:#282828;
		transition:all .3s ease 0;
	}

	.header-nav {
		opacity:0;
		visibility:hidden;
		height:0;
		width:0;
	}

	.open-mobile.site-header {
		pointer-events:all;
		position:absolute;
		bottom:25px!important;
		left:25px!important;
		right:25px!important;
		top:25px!important;
		background-color:#282828;
		max-height:unset;
		opacity:1;
		visibility:visible;
		overflow:hidden;
	}

	.open-mobile .mobile-nav {
		bottom:15px;
		left:15px;
	}

	.open-mobile .header-nav {
		pointer-events:auto;
		opacity:1;
		visibility:visible;
		top:65px;
		height:auto;
		width:auto;
		position:absolute;
		bottom:60px;
		left:0;
		right:0px;
		overflow:hidden;
		border-bottom:5px solid #000;
		z-index:200;
		background-color:rgba(255,255,255,0.2);
	}

	.open-mobile .header-nav-wrap {
		height:100%;
		overflow-y:scroll;
	}

	.open-mobile .header-nav-menu li.topmenu-item {
		display:block;
		margin-bottom:5px;
		bottom:0px;
		position:relative;
	}

	.open-mobile .header-nav-menu a.topmenu-link {
		background-color:#444 !important;
		cursor:default;
	}

	.open-mobile .header-nav-menu #menu-item-253 a.topmenu-link {
		background-color:#000 !important;
		cursor:pointer;
	}

/*
	.open-mobile .header-nav {
		margin-top:60px;
	}

	.open-mobile .header-nav {
		overflow:scroll;
		height:100%;

	}
*/

	.open-mobile .dropdown-drawer {
		position:relative;
		height:auto;
		top:unset;
		left:unset;
		margin-bottom:5px;
		padding-top:15px;
	}

	.open-mobile .header-nav-menu li.topmenu-item ul.submenu {
		max-height:unset;
		height:auto;
		opacity:1;
		visibility:visible;
		white-space:normal;
		padding:5px 0px 0px 20px;
	}

	.open-mobile .header-nav-menu li.submenu-item {
		margin-right:5px;
		margin-bottom:10px;
	}

	.open-mobile .header-nav-menu li.topmenu-item ul.submenu li a {
		font-size:15px;
		padding:3px 9px;
	}

	.open-mobile .header-brand {
		display:none;
	}

	.site-content-contain {
		top:100px;
	}

.site-slider-wrap {
	pointer-events:all;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	white-space: normal;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}
.site-slide-single {
	position:relative;
	float:unset;
	display:block;
	width:100%;
	max-height:250px;
	height:33.33%;
	transition: all 0.2s ease 0s;
}

	.site-slide-single .slide-background {
		width:100%;
		height:100%;
		position:relative;
		top:unset;
		left:unset;
	}

/*
	.site-slide-single:hover .slide-background,
	.site-slide-single:focus .slide-background {
		position:relative;
		background-size:110%, cover;
		transition: all 0.3s ease 0s;
	}
*/

	.slider-title {
		top:25px;
		left:0px;
		transform: scale(0.5);
		padding:0px 25px 0px 35px;
		height:0px;
		width:auto;
		opacity:0;
		visibility: hidden;
		pointer-events: all;
		z-index:9;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.2s ease 0s;
	}

	.focused {
		overflow:hidden;
	}

	.focused .slide-overlay {
		opacity:1;
		visibility: visible;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.2s ease 0s;
	}

	.focused .slider-title {
		transform: scale(1);
		opacity:1;
		visibility: visible;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.2s ease 0s;
	}

	.focused .slide-background {

		transform: scale(1.2);
		transition: all 0.2s ease 0s;
/*
		transition: height 0.3s ease 0s;
		transition: left 0.3s ease 0s;
		transition: width 0.3s ease 0s;
*/
	}

	.scroll-to-top {
		position:absolute;
		bottom:29px;
		right:40px;
		z-index:10000;
		color:#fff;
		font-size: 50px;
		display:none;
		cursor:pointer;
	}

/*
	.site-slide-single:hover .slider-title,
	.site-slide-single:focus .slider-title {
		opacity:1;
		visibility: visible;
		transition: all 0.3s ease 0s;
	}
*/

/*
	.site-slide-single:hover .slide-background:after,
	.site-slide-single:focus .slide-background:after {
		position:absolute;
		top:0px;
		left:0px;
		bottom:0px;
		right:0px;
		z-index: 1000;
		background-color:rgba(0,0,0,0.4);
	}
*/

	.slider-title h1 {
		font-size:18px;
		padding:5px 6px;
		letter-spacing:1px;
		font-family: 'DINProRegular', Arial, sans-serif;
	}

	.slider-title h2 {
		font-size:16px;
		padding:5px 6px;
		letter-spacing:1px;
		line-height:14x;
		font-family: 'DINProRegular', Arial, sans-serif;
	}

	.slider-title a {
		font-size:18px;
		padding:5px 6px;
		letter-spacing:1px;
		line-height:14x;
		font-family: 'DINProRegular', Arial, sans-serif;
	}

	.flock-page {
		width:99%;

	}

	.watermark {
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:225px;
		height:auto;
		margin-top:-20px;
		margin-left:-113px;
		z-index:1;
	}
}

/*
**** BREAKPOINT: SMALL DEVICES - DESCENDING
*/
@media (max-width: 400px) {

	.watermark {
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:175px;
		height:auto;
		margin-top:-13px;
		margin-left:-90px;
		z-index:1;
	}

	.subscribe-modal .modal-dialog .fa
	.blank-modal .modal-dialog {
		top:unset;
		margin-top:50px;
	}
	.blank-modal .modal-body {
		width:280px;
		height:160px;
		margin:0px auto;
	}

	.blank-modal .modal-content {
/* 		width:95%; */
		margin:0px auto;
	}

	.blank-modal .modal-footer {
		max-width:280px;

		font-size:16px;
		line-height:20px;
		font-weight:400;
		margin:5px auto 0px;
		border:none;
		padding:10px 15px;
	}
	.subscribe-modal .modal-dialog .fa,
	.blank-modal .modal-dialog .fa {
		position:absolute;
		top:-30px;
		right:50%;
		margin-right:-25px;
	}
}

/*
**** BREAKPOINT: SMALL LANDSCAPE DEVICES - DESCENDING
*/
@media (max-width: 768px) and (orientation: landscape) {

	.slider-title {
		opacity:0;
		visibility: hidden;
		width:60vw;
		height:80vh;
		margin:0px auto;
		padding:0px;
		left:25vw;
		top:20vh;
	}

	.slider-title h1 {
		font-size:40px;
		padding:5px 6px;
		letter-spacing:1px;
	}

	.slider-title h2 {
		font-size:34px;
		padding:5px 6px;
		line-height:30x;
	}

	.slider-title a {
		font-size:34px;
		padding:5px 6px;
		line-height:30x;
	}

	.blank-modal .modal-dialog {
		top:unset;
		margin-top:50px;
	}

	.page-template-directors .site-footer,
	.page-template-digital .site-footer {
		min-height:unset;
	}

	.page-template-digital .site-content {
		height:auto;
		max-height:unset;
	}

	.page-template-digital .site-main {
		height:auto;
		min-height:unset;

	}

	.page-template-digital .digital-left {
		display:none;
	}

	.page-template-directors .director-bio {
		min-height:200px;
	}

	.site-band {
		top:20px;
		left:20px;
		bottom:20px;
		right:20px;
	}

	.site-content-contain {
		top:20px;
		left:20px;
		bottom:20px;
		right:20px;
	}

	.site-content {
		height:70%;
	}

	.site-main {
		height:100%;
	}

	.site-slide-single {
		position:relative;
		float:unset;
		display:block;
		width:100%;
		height:110vh;
		max-height:unset;
		transition: all 0.3s ease 0s;
	}

	.flock-page {
		padding-top:0px !important;
		padding-bottom:150px;
	}

/*
	.slider-title {
		transform: scale(1);
		opacity:1;
		visibility: visible;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.2s ease 0s;
	}
*/

/* 	.open-mobile .header-nav {
		top:0;
		right:0;
	}

	.open-mobile .header-nav {
		top:0px;
		right:0px;
		height:100%;
		bottom:60px;
		left:0px;
		padding-bottom:10px;
		overflow:scroll;

	} */

}

/*
**** BREAKPOINT: MEDIUM PORTRAIT DEVICES - DESCENDING
*/
@media (max-width: 768px) and (orientation: portrait) {

	.page-template-directors .site-footer,
	.page-template-digital .site-footer {
		min-height:unset;
	}

	.page-template-directors .site-content {
		padding-top:0px;
		pointer-events: auto !important;
		min-height:100%;
	}

	.page-template-digital .site-footer {
		height:auto;
		min-height:unset;
	}

	.page-template-digital .site-content {
		padding-top:0px;
		pointer-events: auto !important;
		height:auto !important;
		max-height:unset;
	}

	.page-template-digital .site-main {
		height:auto;
		min-height:unset;

	}

	.site-band {
		top:20px;
		left:20px;
		bottom:20px;
		right:20px;
	}

	.site-content-contain {
		top:80px;
		left:20px;
		bottom:60px;
		right:20px;
		padding:0px 5px;
	}

	.site-content {
		height:70%;
	}

	.site-main {
		height:100%;
		width:100%;
	}

	.flock-page {
		padding-top:0px !important;
			}
}

/*
**** BREAKPOINT: MEDIUM PORTRAIT DEVICES - DESCENDING
*/
@media (max-width: 321px) and (orientation: portrait) {





	.page-template-directors .director-video-wrap {
		min-height:200px;
	}
	.page-template-directors .director-bio {
		min-height:200px;
	}

	.blank-modal .modal-body  {
		width:auto !important;
	}
}

@media (min-width: 1200px) and (min-height:800px) {
	p {
		padding:0;
		margin:0;
	}
	.flock-page {
		padding-top:0px !important;
		padding-bottom:390px;
	}
}
